.human, .computer {
    height: 100%;
}

td[class^='cell'] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
} 

.human td[class^='cell'] {
    background-color: lightcyan;
}

.human td[class^='cell']:hover {
    background-color: rgb(173, 255, 255);
}

.human td.ship {
    background-color: lightgreen;
}

.human .miss {
    height: 70%;
    width: 70%;
    background-color: lightskyblue;
    border-radius: 50%;
}

.computer td[class^='cell'] {
    background-color: lightgrey;
}

.computer td[class^='cell']:hover {
    background-color: rgb(139, 139, 139);
}

.computer .miss {
    height: 70%;
    width: 70%;
    background-color: grey;
    border-radius: 50%;
}

td[class^='cell'] > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

table .hit {
    height: 70%;
    width: 70%;
    background-color: red;
    border-radius: 50%;
}

.boards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.boards .header {
    width: 100%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1.5rem 0;
}

.human .header {
    background-color: tomato;
    color: white;
}

.computer .header {
    background-color: lightslategrey;
    color: white;
}

/* shipyard styles */

.shipyard {
    margin: 0.5rem;
    display: flex;
    color: slategray;
    height: 5rem;
    width: 100%;
}

.shipyard .title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 1.2rem;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 0.7rem;
}

.shipyard .ships {
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ships > * {
    margin: 0.4rem;
}

.ships > .hit {
    color: red;
    text-decoration: line-through;
}

