@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Quicksand:wght@300;400&display=swap');

:root {
    --nunito: "Nunito", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --quicksand: "Quicksand",  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(1vw + 1vh);
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--quicksand);
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}